.wrapper {
    background-color: #e3e9ec;
    table {
        background-color: var(---white);
    }
}
.header-wrap-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(---white);

    h2 {
        font-family: 'Open sans', Arial, Helvetica, sans-serif;
        color: #b71c1c;
    }
    span {
        cursor: pointer;
        color: #b71c1c;
        font-size: 1.4rem;
        margin-right: -30px;
    }
    th {
        color: rgb(183, 28, 28);
        font-size: 1.2rem;
        font-weight: 600;
        font-family: 'Open sans', Arial, Helvetica, sans-serif;
    }
}

.more-btn {
    border-radius: 50%;
    border: 1px solid var(---grey);
    background-color: var(---grey);
    color: var(---white);
    width: 3%;
}

.match-item {
    display: flex;
    justify-content: space-between;
}
table {
    tbody {
        th {
        }
    }
}
.up-coming {
    margin-top: 15px;
}
.get-api {
    display: flex;
    justify-content: space-between;
}
.match-game {
}
