.wrapper {
    width: 30%;
    min-height: 300px;
    padding: 0 0 26px 8px;
    a {
        font-size: 1.5rem;
    }
    h2 {
        text-align: center;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        background-color: #01579b;
        color: var(---white);
    }
}
.more-btn {
    color: #01579b;
    text-align: center;
    background-color: var(---white);
    padding: 7px;
    width: 100%;
    p {
        border: 1px solid black;
        border-radius: 13px;
        color: var(---white);
        background-color: #01579b;
    }
    &:hover {
        color: var(---white);
        background-color: #01579b;
        cursor: pointer;
        text-decoration: underline;
    }
}
