table {
    width: 100%;
    tbody {
        tr {
            td {
                &:hover {
                    background-color: #f1f3f5;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    th {
        background: #e1e4e7;
        color: #78909c;
        text-transform: uppercase;
    }
}
